@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// variables 
$flex-initial-width: 370px;
$flex-first-breakepoint-width: 300px;
$flex-second-breakepoint-width: 250px;
$flex-third-breakepoint-width: 200px;
$flex-fourth-breakepoint-width: 263px;

// wrapper 
.wrapper {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

// загальні класи
[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}

.no-scroll{
	overflow: hidden;
}

// header 
.header__container {
	position: relative;
	display: flex;
	min-height: 100px;
	align-items: center;
}
.header__logo{
	z-index: 50;
}
.header__list {
	flex: 1 1 auto;
	justify-content: end;
	display: flex;
	align-items: center;
	margin: 0px -14px;
	z-index: 49;
}
.header__list.open-menu{
	display: block;
}
.header__item {
	padding: 0px 14px;
	white-space: nowrap;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #646667;
}
.header__img{
	padding: 0px 14px 0px 0px;
}
@media (max-width: 700px){
	.header__container {
		min-height: 70px;
	}
}

// header => burger 
.menu-burger__header {
	display: none;
}
.menu-burger__container{
	z-index: 50;
	position: absolute;
	right: 0;
}
.menu-burger__header {
	position: relative;
	width: 40px;
	height: 35px;
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #646667;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
// header => burger => open-menu
.menu-burger__header.open-menu span {
	opacity:0; 
	transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
	top: 16px;
	transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
	bottom: 16px;
	transition: 0.4s;
}

@media (max-width: 1000px) {
	.header__img{
		display: none;
	}
	.header__list {
		padding: 100px 0px 100% 0px;
		display: none;
		position: absolute;
		top: 0;
		background: #fff;
		width: 99%;
	}
	.menu-burger__header {
		display: block;
	}
}

// main 
// main => about 
.about__body {
	display: flex;
	flex-direction: column;
}
.about__images {
	position: relative;
	.about__image {
		width: 100%;		
	}
	.about__background {
		position: absolute;
		top: 0;
		left: 0;
		max-height: 100%;
	}
}
.about__text {
	margin: 48px 0px 46px 0px;
	font-weight: 300;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #646667;
}
.about__button {
	text-align: center;
	button{
		padding: 20px;
	}
}
.button {
	button {
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		background: #007397;
		color: #FFFFFF;
	}
	:hover{
		border: 1px solid #646667;
		background: #fff;
		color: #646667;
		transition: 0.5s;
	}
}

@media (max-width: 700px) {
	.about__text {
		margin: 24px 0px 23px 0px;
		font-size: 18px;
		line-height: 26px;
	}
	.about__button {
		button {
			padding: 13px;
			font-size: 12px;
		}
	}
}

// main => more-info 
.more-info {
	margin: 188px 0px 0px 0px;
}
.more-info__text {
	max-width: 670px;
	font-weight: 300;
	font-size: 20px;
	line-height: 36px;
	color: #646667;
	margin: 0px 0px 104px 0px;
}
.more-info__list {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 48px 0px;
	:hover{
		transition: 0.5s;
		color: #007397;
	}
}
.more-info__item {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: #AEC3D4;
}
.more-info__button {
	button {
		padding: 20px 75px;
	}
}
@media (max-width: 1000px){
	.more-info {
		margin: 100px 0px 0px 0px;
	}
}
@media (max-width: 850px){
	.more-info__list {
		display: block;
		margin: 0px 0px 48px 0px;
	}
	.more-info__item {
		text-align: right;
		font-weight: 400;
		font-size: 16px;
		line-height: 42px;
		color: #AEC3D4;
	}
	.more-info__text {
		margin: 0px 0px 60px 0px;
	}
}
@media (max-width: 700px){
	.more-info {
		margin: 60px 0px 0px 0px;
	}
	.more-info__item {
		text-align: left;
	}
	.more-info__list {
		margin: 0px 0px 25px 0px;
	}
	.more-info__text {
		margin: 0px 0px 20px 0px;
	}
}

// main => navbar 
.navbar {
	margin: 80px 0px 0px 0px;
}
.navbar__body {
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 0px 47px;
}
.navbar__item {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #D3CFCE;
	:hover{
		transition: 0.5s;
		color: #007397;
	}
}
.navbar__item-center{
	margin: 16px 0px 0px 0px;
}

@media (max-width: 700px){
	.navbar {
		margin: 20px 0px 0px 0px;
	}
	.navbar__body {
		justify-content: start;
	}
}

// main => cards
.cards__body {
	display: flex;
	justify-content: space-between;
}
.card__body {
	position: relative;
}
.card__img {
	margin: 0px 0px 32px 0px;
	img{
		max-width: $flex-initial-width;
	}
}
.card__background {
	position: absolute;
	top: 0;
	left: 0;
	img{
		max-width: 100%;
	}
}
.card__subtitle {
	position: absolute;
	top: 24px;
	left: 10%;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.card__title {
	max-width: 310px;
	position: absolute;
	top: 38%;
	left: 10%;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.card__text {
	max-width: $flex-initial-width;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #646667;
	margin: 0px 0px 32px 0px;
}
.card__button {
	button{
		background-color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #007397;
	}
}
 @media (max-width: 1200px){
	.card__img {
		img{
			max-width: $flex-first-breakepoint-width;
		}
	}
	.card__title {
		line-height: 24px;
		font-size: 18px;
	}
	.card__text {
		max-width: $flex-first-breakepoint-width;
	}
 }
 @media (max-width: 1000px){
	.card__img {
		img{
			max-width: $flex-second-breakepoint-width;
		}
	}
	.card__title {
		top: 32%;
		max-width: 220px;
		line-height: 24px;
		font-size: 16px;
	}
	.card__text {
		max-width: $flex-second-breakepoint-width;
	}
 }
 @media (max-width: 850px){
	.card__img {
		img{
			max-width: $flex-third-breakepoint-width;
		}
		margin: 0px 0px 20px 0px;
	}
	.card__title {
		left: 5%;
		top: 30%;
		max-width: 220px;
		line-height: 20px;
		font-size: 14px;
	}
	.card__subtitle {
		top: 24px;
		left: 5%;
		font-size: 12px;
		line-height: 16px;
	}
	.card__text {
		max-width: $flex-third-breakepoint-width;
		font-size: 14px;
		line-height: 24px;
		color: #646667;
		margin: 0px 0px 20px 0px;
	}
 }
 @media (max-width: 700px){
	.cards__body {
		display: block;
		max-width: 263px;
	}
	.card__img {
		img{
			max-width: $flex-fourth-breakepoint-width;
		}
		margin: 0px 0px 10px 0px;
	}
	.card__title {
		top: 40%;
	}
	.card__text {
		max-width: $flex-fourth-breakepoint-width;
		font-size: 14px;
		line-height: 24px;
		color: #646667;
		margin: 0px 0px 10px 0px;
	}
	.card__button {
		button{
			width: 100%;
			font-weight: 700;
			font-size: 16px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;
			background: #007397;
			color: #FFFFFF;
			padding: 10px;
		}
		:hover{
			border: 1px solid #646667;
			background: #fff;
			color: #646667;
			transition: 0.5s;
		}
		margin: 0px 0px 40px 0px;
	}
 }
// main => map 
.map {
	margin: 196px 0px 0px 0px;
}
.map__img {
	width: 100%;
}
@media (max-width: 1000px){
	.map {
		margin: 100px 0px 0px 0px;
	}
}
@media (max-width: 700px){
	.map {
		margin: 50px 0px 10px 0px;
	}
}

// footer 
.footer {
	font-weight: 700;
	font-size: 12px;
	line-height: 40px;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #646667;
}
.footer__container {
	height: 125px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__list {
	display: flex;
	gap: 0px 24px
}
@media (max-width: 850px){
	.footer__container {
		height: 80px;
	}
}
@media (max-width: 700px){
	.footer {
		letter-spacing: 0.5px;
	}
	.footer__container {
		padding: 20px 15px;
		height: auto;
		text-align: left;
		display: block;
	}
	.footer__list {
		display: flex;
		gap: 0px 15px;
	}
}